@font-face {
    font-family: VT323;
    src: url(VT323-Regular.ttf);
}

body {
    background-image: url("memphis.png");
    background-repeat: repeat;
}

.content {
    border-radius: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    max-width: 60rem;
    min-height: 50rem;
    margin: auto;
    margin-top: 1.5rem;
    background: white;

    text-align: justify;
    font-size: 1.2rem;

    box-shadow: 0 5px 15px grey;
}

.content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    font-family: VT323;
    text-shadow: 2px 0.4rem 0.1rem #b5b5b5;
}

.completion {
    font-weight: bold;
}

.centered {
   text-align: center;
}

.link {
   text-decoration: none;
   font-weight: bold;
   color: #cc00c9;
}

.link:visited {
   color: #a800a5;
}

.link:hover {
   color: #ff00fb;
}

.item {
    background-color: #d1d1d1;
    border-color: #cccccc;
    border-width: 3px;
    border-style: outset;
}

.name {
    font-family: VT323;
    color: #FFFFFF;
    background-color: #000e8c;
    padding: 5px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.description {
    padding: 15px;
}

.button-bar {
    padding-top: 10px;
}

.button {
    display: inline-block;
    padding: 4px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 4px;
    border-color: #EFEFEF;
    border-width: 3px;
    border-style: outset;
    color: #000000;
    text-decoration: none;
}

.button:hover {
    background-color: #c6c6c6;
    border-style: inset;
}

.image {
    float: right;
    width: 128px;
    height: 128px;
    border-color: #EFEFEF;
    border-width: 3px;
    border-style: inset;
    margin-left: 12px;
}

@media only screen and (max-width: 60rem) {
    body {
        background: white;
    }
}
