@font-face {
    font-family: VT323;
    src: url(VT323-Regular.ttf);
}

body {
   background: gray;
}

.content {
    border-radius: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    max-width: 60rem;
    min-height: 50rem;
    margin: auto;
    margin-top: 1.5rem;
    background: white;

    text-align: justify;
    font-size: 1.2rem;
}

.content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    font-family: VT323;
    text-shadow: 2px 0.4rem 0.1rem #b5b5b5;
}

.completion {
    font-weight: bold;
}

.floppyList {
    border-radius: 0.3rem;
    border: 1px solid black;
    box-shadow: 0rem 0.2rem 0.3rem 0rem rgba(0,0,0,0.45);
}

.floppyList:last-child {
    border-bottom: 0px solid black;
}

.floppyList .item {
    height: 10rem;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.floppyList .item .name {
    text-align: center;
    font-size: 1.2rem;
    line-height: 5rem;
    flex-basis: 10rem;
    font-weight: bold;
    border-right: 1px solid black;
    font-family: VT323;

    background-image: url(floppy.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.floppyList .item .description {
    flex-grow: 1;
    border-right: 1px dashed black;
    padding: 0.5rem;
}

.floppyList .item .download {
    flex-basis: 5rem;
    background-image: url("download.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

@keyframes throb {
  from {background-size:50%;}
  to {background-size:60%;}
}

.floppyList .item .download:hover {
    animation: throb 0.5s infinite;
    animation-direction: alternate;
}

.centered {
   text-align: center;
}

.link {
   text-decoration: none;
   font-weight: bold;
   color: #87420e;
}

.link:visited {
   color: #4f1e00;
}

.link:hover {
   color: #ffe542;
}

@media only screen and (max-width: 60rem) {
    body {
        background: white;
    }

    .content {
        border-radius: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0;
        margin-top: 0;
        min-height: 0;

        font-size: 1rem;
    }

    .content h1 {
        font-size: 4rem;
    }

    .floppyList .item {
        height: 5rem;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;
    }

    .floppyList .item .name {
       font-size: 1.5rem;
       background-image: none;
    }
}
