@font-face {
    font-family: VT323;
    src: url(VT323-Regular.ttf);
}

@font-face {
    font-family: M;
    src: url(M.ttf);
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 1280px 1280px; }
}

body {
    background-image: url("memphis.png");
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: animatedBackground 100s linear infinite;
}

.content {
    border-radius: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    max-width: 60rem;
    min-height: 50rem;
    margin: auto;
    margin-top: 1.5rem;
    background: white;

    text-align: justify;
    font-size: 1.2rem;

    box-shadow: 0 5px 15px grey;
}

.content h1 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    font-family: VT323;

    background: -webkit-linear-gradient(#000e8c, #cc00c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h1.mirror {
    margin-top: -3.5rem;
    transform:rotateX(180deg);
    background-image: linear-gradient(180deg,rgba(0,0,150,.0) 30%,rgba(0,0,150,.2));
    -webkit-background-clip: text;
    color: transparent;
}

.completion {
    font-weight: bold;
}

.centered {
   text-align: center;
}

.link {
   text-decoration: none;
   font-weight: bold;
   color: #cc00c9;
}

.link:visited {
   color: #a800a5;
}

.link:hover {
   color: #ff00fb;
}

.item {
    background-color: #d1d1d1;
    border-color: #cccccc;
    border-width: 3px;
    border-style: outset;
}

.name {
    font-family: VT323;
    color: #FFFFFF;
    background-color: #000e8c;
    padding: 5px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.description {
    padding: 15px;
}

.button-bar {
    padding-top: 10px;
}

.button {
    display: inline-block;
    padding: 4px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 4px;
    border-color: #EFEFEF;
    border-width: 3px;
    border-style: outset;
    color: #000000;
    text-decoration: none;
}

.button:hover {
    background-color: #c6c6c6;
    border-style: inset;
}

.image {
    float: right;
    width: 128px;
    height: 128px;
    border-color: #EFEFEF;
    border-width: 3px;
    border-style: inset;
    margin-left: 12px;
}

@media only screen and (max-width: 70rem) {
    .content h1 {
        font-size: 4rem;
    }

    .content h1.mirror {
        margin-top: -2.3rem;
        margin-bottom: -2rem;
        background-image: linear-gradient(180deg,rgba(0,0,150,.0) 10%,rgba(0,0,150,.2));
    }
}
